  @import "tailwindcss";

  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
  html{
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
  }
  body {
    background: var(--background);
    color: var(--foreground);
  }

  /* Cursor Blink */
  @keyframes blinkCursor {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .cursor {
    animation: blinkCursor 1s steps(1) infinite;
  }

